@model List<myhtml.Models.StudentList>
@{
    ViewBag.Title = "本班主人翁";
}

<h2>本班主人翁</h2>

<p>
    @Html.ActionLink("詳細資料", "StudentList_Complete", "StudentList")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("排序")
        </th>
        <th>
            @Html.DisplayName("學號")
        </th>
        <th>
            @Html.DisplayName("座號")
        </th>
        <th>
            @Html.DisplayName("姓名")
        </th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Html.Label("seq", (i + 1).ToString())
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].Id)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].座號)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].暱稱)
            </td>
            
        </tr>
    }
</table>