@model List<myhtml.Models.ContactList>
@{
    string Login = Session["Login"] != null ? @Session["Login"].ToString() : "0";
    ViewBag.Title = "本班主人翁";
}

<h2>所有聯絡事項</h2>

@if (Login == "2")
{
    <p>
        @Html.ActionLink("新增", "CreateContact", "Home")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("編號")
        </th>
        <th>
            @Html.DisplayName("日期")
        </th>
        <th>
            @Html.DisplayName("聯絡事項")
        </th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(p => Model[i].Date)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].SeeDate)
            </td>
            <td>
                @if (Model[i].ContactOne != null)
                {
                    <span>1.</span>@Html.DisplayFor(p => Model[i].ContactOne)<br>
                }
                @if (Model[i].ContactTwo != null)
                {
                    <span>2.</span>@Html.DisplayFor(p => Model[i].ContactTwo)<br>
                }
                @if (Model[i].ContactThree != null)
                {
                    <span>3.</span>@Html.DisplayFor(p => Model[i].ContactThree)<br>
                }
                @if (Model[i].ContactFour != null)
                {
                    <span>4.</span>@Html.DisplayFor(p => Model[i].ContactFour)<br>
                }
                @if (Model[i].ContactFive != null)
                {
                    <span>5.</span>@Html.DisplayFor(p => Model[i].ContactFive)<br>
                }
                @if (Model[i].ContactSix != null)
                {
                    <span>6.</span>@Html.DisplayFor(p => Model[i].ContactSix)<br>
                }
                @if (Model[i].ContactSeven != null)
                {
                    <span>7.</span>@Html.DisplayFor(p => Model[i].ContactSeven)<br>
                }
                @if (Model[i].ContactEight != null)
                {
                    <span>8.</span>@Html.DisplayFor(p => Model[i].ContactEight)<br>
                }
            </td>
            @if(Login =="2")
             {
                <td>
                @Html.ActionLink("編輯", "EditContact", "Home", new { id = i }, null) |
                @Html.ActionLink("刪除", "DeleteContact", "Home", new { id = i }, new { @onclick = "return confirm('確定刪除?');" })
                </td>
             }
            
        </tr>
    }
</table>


@section scripts{
    <script type="text/javascript">
        var message = '@ViewData["Message"]';
        var Login = '@Session["Login"]';
        if (message != null && message != '')
        {
            alert(message);
        }
    </script>
}