@model myhtml.Models.ContactList
@{
    ViewBag.Title = "首頁";
    string Login = Session["Login"] != null ? @Session["Login"].ToString() : "0";
    string UserName = Session["UserName"] != null ? Session["UserName"].ToString() : null;
}

<div class="jumbotron">

    <FONT FACE="標楷體" size="6" COLOR="#009FCC">
        <B>陳彥廷老師的自然教室</B>
    </FONT><br>
    <FONT FACE="標楷體" size="5" COLOR="#666666">
        歡迎大家來到彥廷老師的自然教室，希望大家都能快樂愉快的學習！
    </FONT><p>
    <p><a href="https://www.facebook.com/profile.php?id=100000305285018&ref=bookmarks" class="btn btn-primary btn-lg">連結至Facebook &raquo;</a></p>
</div>

<marquee direction="Left" height="40" scrollamount="10" bgcolor="#444444"><font size="5" color="#00FFFF" style="font-weight:bold;" id="RunMessage" face="微軟正黑體">@Model.RunningMessage</font></marquee>
@if (Login == "2")
{
    using (Html.BeginForm("ChangeRunningMessage", "Home", FormMethod.Post, new { @id = "ChangeRunningMessage" }))
    {
        @Html.TextBoxFor(m => m.RunningMessage , new {placeholder = "請輸入要顯示的訊息。" })
        <input type="submit" id="submit" value="編輯跑馬燈">
        @Html.HiddenFor(m => m.RunningMessage)
    }
}
<div class="row">
    <div class="col-md-2">
        <h3>關於彥廷老師</h3>
        <p>
            我是陳彥廷，畢業於花蓮教育大學(國立東華大學)自然科學教育學系，若想深入了解我，請點選我的履歷。
        </p>
        <p><a class="btn btn-default" href="@Url.Action("AboutMe","Home")">我的履歷 &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h3>彥廷老師的作品集</h3>
        <p>程式相關的作品與歷程，請點選我的GitHub</p>
        <p><a class="btn btn-default" href="#" onclick="window.open('https://github.com/ttrox760520');">我的GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>聯絡事項</h3>
        @if (@Model.SeeDate != null)
        {<p>日期：@Model.SeeDate</p>}
        @if (@Model.ContactOne != null)
        {<p>1. @Model.ContactOne</p>}
        @if (@Model.ContactTwo != null)
        {<p>2. @Model.ContactTwo</p>}
        @if (@Model.ContactThree != null)
        {<p>3. @Model.ContactThree</p>}
        @if (@Model.ContactFour != null)
        {<p>4. @Model.ContactFour</p>}
        @if (@Model.ContactFive != null)
        {<p>5. @Model.ContactFive</p>}
        @if (@Model.ContactSix != null)
        {<p>6. @Model.ContactSix</p>}
        @if (@Model.ContactSeven != null)
        {<p>7. @Model.ContactSeven</p>}
        @if (@Model.ContactEight != null)
        {<p>8. @Model.ContactEight</p>}
        <p><a class="btn btn-default" href="@Url.Action("Contact","Home")">更多聯絡事項 &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>學生照片</h3>
        @if (@Model.SeeDate != null)
        {<p>日期：@Model.SeeDate</p>}
        @if (@Model.ContactOne != null)
        {<p>1. @Model.ContactOne</p>}
        @if (@Model.ContactTwo != null)
        {<p>2. @Model.ContactTwo</p>}
        @if (@Model.ContactThree != null)
        {<p>3. @Model.ContactThree</p>}
        @if (@Model.ContactFour != null)
        {<p>4. @Model.ContactFour</p>}
        @if (@Model.ContactFive != null)
        {<p>5. @Model.ContactFive</p>}
        @if (@Model.ContactSix != null)
        {<p>6. @Model.ContactSix</p>}
        @if (@Model.ContactSeven != null)
        {<p>7. @Model.ContactSeven</p>}
        @if (@Model.ContactEight != null)
        {<p>8. @Model.ContactEight</p>}
        <p><a class="btn btn-default" href="@Url.Action("Contact","Home")">連結至相簿 &raquo;</a></p>
    </div>


</div>
@section scripts{
    <script type="text/javascript">

        var message = '@ViewData["Message"]';
        if (message != null && message != '')
        {
            alert(message);
        };


        //document.getElementById('ChangeRunMessage').onclick = function () { ChangeRunMessage(); }
        //function ChangeRunMessage()
        //{

        //    var runmessage1 = document.getElementById('runmessage').value;
        //    document.getElementById('RunMessage').innerText = runmessage1;
        //};


    </script>
}