@model List<myhtml.Models.MemberList>
@{
    string Login = Session["Login"] != null ? @Session["Login"].ToString() : "0";
    ViewBag.Title = "會員帳號清單";
}

<h2>會員帳號清單</h2>


<p>
    @Html.ActionLink("新增會員", "CreateMember", "MemberList")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("排序")
        </th>
        <th>
            @Html.DisplayName("帳號")
        </th>
        <th>
            @Html.DisplayName("密碼")
        </th>
        <th>
            @Html.DisplayName("暱稱")
        </th>
        <th>
            @Html.DisplayName("身分")
        </th>
        <th>
            @Html.DisplayName("是否正式會員")
        </th>
        <th>
            @Html.DisplayName("備註")
        </th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Html.Label("seq", (i + 1).ToString())
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].Account)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].Password)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].UserName)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].Identity)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].RealMember)
            </td>
            <td>
                @Html.DisplayFor(p => Model[i].Memo)
            </td>
            <td>
                @Html.ActionLink("編輯", "EditMember", "MemberList", new { id = i }, null) |
                @Html.ActionLink("刪除", "DeleteMember", "MemberList", new { id = i }, new { @onclick = "return confirm('確定刪除?');" })
            </td>
        </tr>
    }
</table>
@section scripts{
    <script type="text/javascript">
        var message = '@ViewData["Message"]';
        var Login = '@Session["Login"]';
        if (message != null && message != '')
        {
            alert(message);
        }
    </script>
}
